# Python
__pycache__/
*.py[cod]
*$py.class

# Virtual Environment
myenv/
venv/
env/
.venv/

# Environment variables
.env
.env.*

# Jupyter Notebook
.ipynb_checkpoints/

# VS Code
.vscode/

# PyCharm
.idea/

# Python build files
build/
dist/
*.egg-info/
.eggs/

# Logs
*.log

# OS files
.DS_Store
Thumbs.db

# Cache
.pytest_cache/
.mypy_cache/
.cache/

# Coverage
.coverage
htmlcov/

# LangChain / temporary files
*.sqlite
*.db